colorama
searchtweets-v2==1.1.1
pandas
pymongo==3.13.0
beanie==1.8.6
pydantic
motor
celery
redis
requests
langid
pytube
bs4
flower
pytube==11.0.1
scenecut_extractor==0.3.3
telethon
vk_api
nltk
sklearn